<br>
<div class="nuevo1">

    <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary">DATOS PERSONALES</button><br>
        <button type="button" class="btn btn-primary">PELICULAS</button><br>
        <button type="button" class="btn btn-primary">HISTORIAL DE COMPRAS</button>

    </div>
    <div class="container">

        <div class="container" style="text-align-last: center">

            <img width="300" alt="cinepolis Logo" src="./assets/MAQUEY GAME.jpeg">
            <img width="300" alt="cinepolis Logo" src="./assets/MAQUEY GAME.jpeg">
            <img width="300" alt="cinepolis Logo" src="./assets/MAQUEY GAME.jpeg">


        </div>





        <button type="button" class="btn btn-primary" style="margin-left: 15%">PELICULA 1</button>
        <button type="button" class="btn btn-primary" style="margin-left:20%">PELICULA 2</button>
        <button type="button" class="btn btn-primary" style="margin-left: 15%">PELICULA 3</button>
    </div>

</div>
<router-outlet></router-outlet>